.services-section {
  background: #eee;
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  .services-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // background: #222;
    width: 100%;

    .service-card {
      width: calc(100% / 3);
      background: #fff;
      flex: 1 320px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      padding: 50px;

      svg {
        font-size: 50px;
      }

      h3 {
        text-transform: uppercase;
      }
    }
  }
}