h1 {
    border: 1px solid black;
}

p {
    border: 1px solid red;
}

span {
    border: 1px solid green;
    background-color: green;
}

#container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: black;
    height: 100px;
}

/* select all sections inside the container */

#container section {
    border: 1px solid tomato;
    height: 50px;
    width: 50px;
    background-color: blanchedalmond;
}

.section3 {
    align-self: center;
}