header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 100px;

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    img {
      width: 100px;
      filter: brightness(20);
    }
  }
}