.about-page-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  .inner-section {
    width: calc(100% - 400px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .about-page-image {
      width: 400px;
      height: 400px;
      flex: 1 100%;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-page-content-text {
      display: flex;
      gap: 30px;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-size: 32px;
      }

      p {
        line-height: 1.5;
      }

      .about-services {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        div {
          width: 50%;
          display: flex;
          gap: 10px;
          flex: 1 (calc(50% - 10px));
        }
      }

      .about-call-to-action {
        a {
          color: #fff;
          background: rgba(12, 19, 79, 0.8);
          text-transform: uppercase;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 20px;
        }
      }
    }
  }
}